### Визначення найбільш відвідуваних квадратів для кожного із абонентів
- розбити місто на квадрати;
- визначити для кожного користувача, які квадрати 

__To Do:__ Сортувати по кількості подій від найбільшої до найменшої для кожного абонента; виводити перших 2-3 квадрати

In [6]:
import pandas as pd
import numpy as np
import os
import datetime

pd.set_option('display.max_columns', 50)

In [8]:
# large Lviv
df_large_Lviv = pd.read_csv("bd_lab_large_Lviv.csv", nrows = 200)
df_large_Lviv.head()

,hash_number_A,hash_tariff,event_type,event_sub,network_service_direction,event_start_date,hash_b_number,number_B_category,cost,call_duration_minutes,data_volume_mb,hash_accum_code,LAT,LON,device_type,phone_price_category,interest_1,interest_2,interest_3,interest_4,interest_5,test_flag,target,facebook_user,instagram_user,twitter_user,youtube_user,viber_user,whatsapp_user,skype_user
0,148731,239056,network_ser,content,Incoming,28AUG2017:00:53:31,188014.0,,0.0,0.0,0.0,0.0,49.80861,24.017222,,1.0,,,,,,0,1,0,0,0,0,0,0,0
1,148731,239056,network_ser,content,Incoming,29AUG2017:12:58:36,188014.0,,0.0,0.0,0.0,0.0,49.82361,24.015000,,1.0,,,,,,0,1,0,0,0,0,0,0,0
2,148731,239056,network_ser,omo_voice,Incoming,27AUG2017:19:57:30,1333643.0,,0.0,0.3,0.0,0.0,49.80861,24.017222,,1.0,,,,,,0,1,0,0,0,0,0,0,0
3,148731,239056,network_ser,omo_sms,Incoming,28AUG2017:00:53:39,1335488.0,,0.0,0.0,0.0,0.0,49.80861,24.017222,,1.0,,,,,,0,1,0,0,0,0,0,0,0
4,148731,239056,network_ser,omo_sms,Incoming,28AUG2017:00:53:48,1335488.0,,0.0,0.0,0.0,0.0,49.80861,24.017222,,1.0,,,,,,0,1,0,0,0,0,0,0,0

In [28]:
df = pd.read_csv("BD_LAB_EXAMPLE_SAMPLE.csv", encoding="cp1251", na_values='.')
len(df)

/home/ogilvy/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

1327629

In [29]:
df.head()

,hash_number_A,hash_tariff,event,event_sub,network_service_direction,event_start_date,LAT,LON,cost,hash_number_B,...,call_duration_minutes,data_volume_mb,hash_accum_code,device_type,phone_price_category,interest_1,interest_2,interest_3,interest_4,interest_5
0,1994159,232217,service_fee,service_fee_430,NaN,08AUG17:02:45:27,NaN,NaN,39.9989,0,...,NaN,NaN,0,phone,1.0,NaN,NaN,NaN,NaN,NaN
1,1780148,35230,service_fee,service_fee_570,NaN,27JUL17:05:40:04,NaN,NaN,1.0625,0,...,NaN,NaN,0,smartphone,2.0,NaN,NaN,NaN,NaN,NaN
2,1788625,232217,account_ref,refill_1,NaN,10AUG17:11:12:33,NaN,NaN,50.0000,0,...,NaN,NaN,0,smartphone,2.0,Досуг,Новости и СМИ,Hi-Tech,Справка,Бизнес и экономика
3,1656133,237875,account_ref,refill_2,NaN,04JUL17:15:36:42,NaN,NaN,100.0000,0,...,NaN,NaN,0,smartphone,2.0,NaN,NaN,NaN,NaN,NaN
4,1783561,232217,unblocking,blocking_1,NaN,19JUN17:16:03:20,NaN,NaN,NaN,0,...,NaN,NaN,0,smartphone,2.0,Справка,Hi-Tech,Дом и семья,Новости и СМИ,Наука и образование

In [30]:
df.LAT.astype(float).head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: LAT, dtype: float64

In [8]:
np.any(type(df["LAT"]) != type("1"))

True

In [24]:
df_lat = df["LAT"]
num = 0
for lat in df_lat:
    if type(lat) == type("str") and lat != '.':
        print(lat)
        num += 1
        if num > 10:
            break

51.212778541
50.362776252
50.362776252
51.340276506
48.897779558
48.941945462
48.931112383
48.940834351
48.940834351
48.940834351
48.940834351

In [7]:
chunksize = 10**5
tot_len = 0
for i, chunk in enumerate(pd.read_csv(
        "BD_LAB_EXAMPLE_SAMPLE.csv",encoding="cp1251", chunksize=chunksize)):
    chunk_len = len(chunk)
    tot_len += chunk_len
    print("{0}  {1}".format(i, len(chunk)))
print("\nSum of chunk lengths = {0}".format(tot_len))
print("length of 1-chunk-dataframe = {0}".format(len(df)))

/home/ogilvy/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (6,7,8,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

0  100000
1  100000
2  100000

/home/ogilvy/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (6,7,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

3  100000
4  100000

/home/ogilvy/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

5  100000

/home/ogilvy/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (6,7,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

6  100000
7  100000

/home/ogilvy/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

8  100000
9  100000
10  100000
11  100000
12  100000
13  27629

Sum of chunk lengths = 1327629
length of 1-chunk-dataframe = 1327629

In [4]:
# Lviv center coordinates
center_lat, center_lon = 49.84, 24.03  # Lviv
#center_lat, center_lon = 48.28, 25.94  # Chernivtsi


## calculate length in km of 1 degree for latitude and longitude
a = 6378.137; b = 6356.752 # semiaxis of Earth ellipsoid in km
e2 = (a**2 - b**2) / a**2 # eccentricity of Earth

# Convert degree to radians
def deg_to_rad(phi):
    return np.pi * phi / 180

# one degree of latitude and longitude in km
deg_lat_in_km = np.pi / 180 * a * (1-e2) /\
            (1 - e2*np.sin(deg_to_rad(center_lat)))**1.5
deg_lon_in_km = np.pi / 180 * a * np.cos(deg_to_rad(center_lat)) /\
             np.sqrt(1 - e2*np.sin(deg_to_rad(center_lat))**2 )

print("1° of latitude = {0:5.2f} km".format(deg_lat_in_km)) 
print("1° of longitude = {0:5.2f} km".format(deg_lon_in_km))

#Convert distance in km to degrees
def km_to_lat(x):
    return x / deg_lat_in_km

def km_to_lon(x):
    return x / deg_lon_in_km

# Radius of Lviv 
city_radius = 10 # km

# check if point is inside circle with radius `city_radius` and center in (center_lat, center_lon)
def isInCity_radius(lat, lon, center_lat, center_lon, city_radius):
    """True if (lat,lon) is in City, False otherwise"""
    return ((lat - center_lat)**2 / km_to_lat(city_radius)**2 +
            (lon - center_lon)**2 / km_to_lon(city_radius)**2) < 1

1° of latitude = 111.43 km
1° of longitude = 71.93 km

In [58]:
start = datetime.datetime.now()
finish = datetime.datetime.now()
print(finish - start)

0:00:00.000249

In [60]:
## MAIN
## Load and save dataframe by chunks

start_time = datetime.datetime.now()

chunksize = 10**5
print("Chunksize = {0}".format(chunksize))
# delete previous Lviv_only.csv
os.remove("Lviv_only.csv")
for (i, chunk) in enumerate(pd.read_csv("BD_LAB_EXAMPLE_SAMPLE.csv",
                         encoding="cp1251", chunksize=chunksize, na_values = '.')):
    # Delete rows without latitude -- where LAT = '.'
    # Write to new dataframe df_with_locat
    
    chunk_with_locat = chunk[chunk['LAT'] != np.nan]

    ## Convert latitude and longitude from `str` into `float`
    #chunk_with_locat['LAT'] = pd.to_numeric(chunk_with_locat['LAT'], errors = 'coerce')
    #chunk_with_locat['LON'] = pd.to_numeric(chunk_with_locat['LON'], errors = 'coerce')
    
    # Convert latitude and longitude from `str` into `float`
    chunk_with_locat['LAT'] = chunk_with_locat['LAT'].astype(float)
    chunk_with_locat['LON'] = chunk_with_locat['LON'].astype(float)
    
    chunk_Lviv = chunk_with_locat[isInCity_radius(chunk_with_locat['LAT'],chunk_with_locat['LON'], 
                                     center_lat, center_lon, city_radius)]
    print("chunk {0}: {1} records from Lviv".format(i, len(chunk_Lviv)))
    
    
    # to csv
    with open("Lviv_only.csv", "a") as f:
        chunk_Lviv.to_csv(f, header = False)

finish_time = datetime.datetime.now()

print(finish_time - start_time)

Chunksize = 100000

/home/ogilvy/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

chunk 0: 2031 records from Lviv
chunk 1: 4408 records from Lviv
chunk 2: 1720 records from Lviv
chunk 3: 2224 records from Lviv
chunk 4: 1985 records from Lviv
chunk 5: 5465 records from Lviv
chunk 6: 1006 records from Lviv
chunk 7: 3362 records from Lviv
chunk 8: 1693 records from Lviv
chunk 9: 4701 records from Lviv
chunk 10: 2517 records from Lviv
chunk 11: 2128 records from Lviv
chunk 12: 3840 records from Lviv
chunk 13: 7997 records from Lviv
0:00:37.665153

In [49]:
df_Lviv_chunks = pd.read_csv("Lviv_only.csv")
len(df_Lviv_chunks)

45076

In [50]:
len(df_Lviv)

45077

In [8]:
## For large dataset
#df["event_start_date"] = df["event_start_date"].apply(lambda x: x[1:]).head()

In [10]:
# Convert column `envent_start_date` (`str`) into  `datetime`
df.event_start_date = pd.to_datetime(df.event_start_date, format='%d%b%y:%H:%M:%S')

# Convert column 'cost' (`str`) into `float`
df['cost'] = pd.to_numeric(df['cost'],errors='coerce')

In [40]:
# Delete rows without latitude -- where LAT = '.'
# Write to new dataframe df_with_locat
df_with_locat = df[df['LAT'] != np.nan]

# Convert latitude and longitude from `str` into `float`
df_with_locat['LAT'] = pd.to_numeric(df_with_locat['LAT'], errors = 'coerce')
df_with_locat['LON'] = pd.to_numeric(df_with_locat['LON'], errors = 'coerce')

#### Кількість людей в радіусі від центру міста (Львова)

In [41]:
# Lviv center coordinates
center_lat, center_lon = 49.84, 24.03  # Lviv
#center_lat, center_lon = 48.28, 25.94  # Chernivtsi


## calculate length in km of 1 degree for latitude and longitude
a = 6378.137; b = 6356.752 # semiaxis of Earth ellipsoid in km
e2 = (a**2 - b**2) / a**2 # eccentricity of Earth

# Convert degree to radians
def deg_to_rad(phi):
    return np.pi * phi / 180

# one degree of latitude and longitude in km
deg_lat_in_km = np.pi / 180 * a * (1-e2) /\
            (1 - e2*np.sin(deg_to_rad(center_lat)))**1.5
deg_lon_in_km = np.pi / 180 * a * np.cos(deg_to_rad(center_lat)) /\
             np.sqrt(1 - e2*np.sin(deg_to_rad(center_lat))**2 )

print("1° of latitude = {0:5.2f} km".format(deg_lat_in_km)) 
print("1° of longitude = {0:5.2f} km".format(deg_lon_in_km))

1° of latitude = 111.43 km
1° of longitude = 71.93 km

In [13]:
#Convert distance in km to degrees
def km_to_lat(x):
    return x / deg_lat_in_km

def km_to_lon(x):
    return x / deg_lon_in_km

In [42]:
# Radius of Lviv 
city_radius = 10 # km

# check if point is inside circle with radius `city_radius` and center in (center_lat, center_lon)
def isInCity_radius(lat, lon, center_lat, center_lon, city_radius):
    """True if (lat,lon) is in City, False otherwise"""
    return ((lat - center_lat)**2 / km_to_lat(city_radius)**2 +
            (lon - center_lon)**2 / km_to_lon(city_radius)**2) < 1


df_Lviv = df_with_locat[isInCity_radius(df_with_locat['LAT'],df_with_locat['LON'], 
                                 center_lat, center_lon, city_radius)]

In [43]:

len(df_Lviv)

45077

In [16]:
# Export to csv
df_Lviv.to_csv("example_sample_LVIV.csv")

In [17]:
df_Lviv = pd.read_csv("example_sample_LVIV.csv")

/home/ogilvy/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
len(df_Lviv)

45077

In [19]:
df_Lviv.head()

,Unnamed: 0,hash_number_A,hash_tariff,event,event_sub,network_service_direction,event_start_date,LAT,LON,cost,...,call_duration_minutes,data_volume_mb,hash_accum_code,device_type,phone_price_category,interest_1,interest_2,interest_3,interest_4,interest_5
0,14420,1985801,231925,network_ser,international_voice,Incoming,2017-06-17 19:38:29,49.795277,24.064999,0.0,...,1.533333,0.0,0,smartphone,3,Новости и СМИ,Hi-Tech,Досуг,Справка,Дом и семья
1,14421,1985801,231925,network_ser,international_voice,Incoming,2017-06-17 20:51:38,49.774444,24.124445,0.0,...,0.733333,0.0,0,smartphone,3,Новости и СМИ,Hi-Tech,Досуг,Справка,Дом и семья
2,14427,1985801,231925,network_ser,other_sms,Incoming,2017-06-17 18:57:18,49.795277,24.064999,0.0,...,0.000000,0.0,0,smartphone,3,Новости и СМИ,Hi-Tech,Досуг,Справка,Дом и семья
3,14430,1985801,231925,network_ser,international_voice,Incoming,2017-06-17 20:50:53,49.816388,24.137778,0.0,...,0.516667,0.0,0,smartphone,3,Новости и СМИ,Hi-Tech,Досуг,Справка,Дом и семья
4,14434,1985801,231925,network_ser,international_voice,Incoming,2017-06-17 19:36:24,49.795277,24.064999,0.0,...,1.883333,0.0,0,smartphone,3,Новости и СМИ,Hi-Tech,Досуг,Справка,Дом и семья

In [10]:
# add column with number of square
# center of the city has number (0, 0)


# square size
square_side_in_km = .5 # km
dlat = km_to_lat(square_side_in_km) # square side in latitude degrees
dlon = km_to_lon(square_side_in_km) # square side in longitude degrees

df_Lviv['square'] = list(zip(np.rint((df_Lviv['LAT'] - center_lat) / dlat ), 
                             np.rint((df_Lviv['LON'] - center_lon) / dlon)))

/home/ogilvy/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
df_Lviv['square'].head()

14420     (-10.0, 5.0)
14421    (-15.0, 14.0)
14427     (-10.0, 5.0)
14430     (-5.0, 16.0)
14434     (-10.0, 5.0)
Name: square, dtype: object

In [13]:
# determine number of calls for every `hash_number_A` from different squares
square_visits = df_Lviv.groupby(['hash_number_A', 'square']).size()

In [14]:
square_visits.head(40)

hash_number_A  square
171195         (-15.0, -3.0)      3
               (-14.0, -1.0)      1
172162         (-13.0, 10.0)      1
               (-1.0, -5.0)       2
               (4.0, -7.0)        1
172183         (-13.0, 6.0)       1
               (-7.0, -5.0)       1
               (-1.0, -5.0)       2
               (0.0, -4.0)        1
               (0.0, 1.0)         3
173437         (-15.0, -3.0)      1
               (-14.0, 4.0)       1
               (-5.0, -15.0)      1
               (-3.0, -16.0)      3
               (6.0, -14.0)       1
               (7.0, -15.0)       2
               (12.0, 14.0)       1
173781         (-15.0, -0.0)      6
               (-14.0, -1.0)      2
               (-12.0, -2.0)      1
               (-10.0, -1.0)      2
               (-9.0, -6.0)       2
               (-8.0, -4.0)       3
               (-7.0, -5.0)      19
               (-7.0, -4.0)     159
               (-7.0, -2.0)       2
               (-6.0, -8.0)       5
               (-6.0, -6.0)      45
               (-6.0, 1.0)        3
               (-4.0, -5.0)     199
               (-4.0, -2.0)       1
               (-4.0, -1.0)       1
               (-4.0, 3.0)        1
               (-4.0, 7.0)        1
               (-3.0, -7.0)      11
               (-3.0, -5.0)       5
               (-3.0, -0.0)       1
               (-2.0, -5.0)       1
               (-2.0, -3.0)       2
               (-2.0, 1.0)        2
dtype: int64