#### `groupby` vs `pivot_table`

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({"hash_A": [0,0,0,0,1,1,1,1,1,1,2,2,2,2,2,2,2], 
                   "square":["A","A","A","C","B","D","C","C","C","C","D","D","A","A","A","C","D"]})

df.head()

   hash_A square
0       0      A
1       0      A
2       0      A
3       0      C
4       1      B

In [3]:
df.groupby(['hash_A','square'])['square'].count()

hash_A  square
0       A         3
        C         1
1       B         1
        C         4
        D         1
2       A         3
        C         1
        D         3
Name: square, dtype: int64

In [4]:
df_counts = df.groupby(['hash_A','square']).size()
df_counts

hash_A  square
0       A         3
        C         1
1       B         1
        C         4
        D         1
2       A         3
        C         1
        D         3
dtype: int64

In [5]:
df_counts = df.groupby(['hash_A','square']).size()
type(df_counts)

pandas.core.series.Series

In [6]:
df_counts.index

MultiIndex(levels=[[0, 1, 2], ['A', 'B', 'C', 'D']],
           labels=[[0, 0, 1, 1, 1, 2, 2, 2], [0, 2, 1, 2, 3, 0, 2, 3]],
           names=['hash_A', 'square'])

In [8]:
df_counts.sortlevel(level=["square"])

hash_A  square
0       A         3
2       A         3
1       B         1
0       C         1
1       C         4
2       C         1
1       D         1
2       D         3
dtype: int64

In [10]:
df_counts.columns

AttributeError: 'Series' object has no attribute 'columns'

In [9]:
df_counts

hash_A  square
0       A         3
        C         1
1       B         1
        C         4
        D         1
2       A         3
        C         1
        D         3
dtype: int64

In [11]:
df_resetted = df_counts.reset_index()
df_resetted

   hash_A square  0
0       0      A  3
1       0      C  1
2       1      B  1
3       1      C  4
4       1      D  1
5       2      A  3
6       2      C  1
7       2      D  3

In [47]:
df_resetted.columns

Index(['hash_A', 'square', 0], dtype='object')

In [49]:
df_resetted.shape

(5, 3)

In [50]:
df_resetted[0]

0    3
1    1
2    1
3    4
4    1
Name: 0, dtype: int64

In [13]:
df_resetted.columns = ['hash_number_A', 'square', 'count']

In [15]:
df_resetted.groupby(['hash_number_A'])['count'].nlargest(3)

hash_number_A
0              0    3
               1    1
1              3    4
               2    1
               4    1
2              5    3
               7    3
               6    1
Name: count, dtype: int64

In [55]:
df.groupby(['hash_A', 'square'], as_index=True).size()

hash_A  square
0       A         3
        C         1
1       B         1
        C         4
        D         1
dtype: int64

In [ ]:
pd.pivot_table

In [44]:
df_counts.reset_index().groupby(['hash_A','square']).nlargest(2)

AttributeError: Cannot access callable attribute 'nlargest' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [28]:
df_counts = df.groupby(['hash_A','square'])['square'].nlargest(2)

TypeError: Cannot use method 'nlargest' with dtype object

In [34]:
df.groupby(['hash_A','square'])['square'].count().sort_values(ascending = False)

hash_A  square
1       C         4
0       A         3
1       D         1
        B         1
0       C         1
Name: square, dtype: int64

In [19]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                        'foo', 'bar', 'foo', 'foo'],
                       'B' : ['one', 'one', 'two', 'three',
                              'two', 'two', 'one', 'three'],
                       'C' : np.random.randn(8),
                       'D' : np.random.randn(8)})
df

     A      B         C         D
0  foo    one -0.169605 -0.315590
1  bar    one -0.730765 -0.835528
2  foo    two  0.509126  0.732111
3  bar  three -1.338237 -0.977205
4  foo    two  1.743215 -0.025260
5  bar    two -0.703014 -1.028230
6  foo    one -2.215276  0.101549
7  foo  three -0.461863  1.408756

In [20]:
df.groupby('A')