In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("BD_LAB_EXAMPLE_SAMPLE.csv", encoding = "cp1251")

/home/ogilvy/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (6,7,8,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,hash_number_A,hash_tariff,event,event_sub,network_service_direction,event_start_date,LAT,LON,cost,hash_number_B,...,call_duration_minutes,data_volume_mb,hash_accum_code,device_type,phone_price_category,interest_1,interest_2,interest_3,interest_4,interest_5
0,1994159,232217,service_fee,service_fee_430,NaN,08AUG17:02:45:27,.,.,39.9989,0,...,.,.,0,phone,1,NaN,NaN,NaN,NaN,NaN
1,1780148,35230,service_fee,service_fee_570,NaN,27JUL17:05:40:04,.,.,1.0625,0,...,.,.,0,smartphone,2,NaN,NaN,NaN,NaN,NaN
2,1788625,232217,account_ref,refill_1,NaN,10AUG17:11:12:33,.,.,50.0000,0,...,.,.,0,smartphone,2,Досуг,Новости и СМИ,Hi-Tech,Справка,Бизнес и экономика
3,1656133,237875,account_ref,refill_2,NaN,04JUL17:15:36:42,.,.,100.0000,0,...,.,.,0,smartphone,2,NaN,NaN,NaN,NaN,NaN
4,1783561,232217,unblocking,blocking_1,NaN,19JUN17:16:03:20,.,.,.,0,...,.,.,0,smartphone,2,Справка,Hi-Tech,Дом и семья,Новости и СМИ,Наука и образование

In [5]:
df.columns

Index(['hash_number_A', 'hash_tariff', 'event', 'event_sub',
       'network_service_direction', 'event_start_date', 'LAT', 'LON', 'cost',
       'hash_number_B', 'number_B_category', 'call_duration_minutes',
       'data_volume_mb', 'hash_accum_code', 'device_type',
       'phone_price_category', 'interest_1', 'interest_2', 'interest_3',
       'interest_4', 'interest_5'],
      dtype='object')